<footer class="dark-footer skin-dark-footer">
    <div>
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6 col-md-6">
                    <div class="footer-widget">
                        <a class="nav-footer-logo" href="/">
                            <img src="static/img/cosmoxclub-logo-white.png" style="height: 35px;"alt="Logo">
                        </a>
                        <div class="footer-add">
                            <p>111A-36, sector 3, Vaishali, Ghaziabad, UP 201010, India</p>
                            <p><a href="tel:+91-9354080920">+91-9354080920</a></p>
                            <p><a href="mailto:contact@cosmoxclub.com">contact@cosmoxclub.com</a></p>
                        </div>
                        
                    </div>
                </div>		
                <div class="col-lg-3 col-md-3">
                    <div class="footer-widget">
                        <h4 class="widget-title">Navigations</h4>
                        <ul class="footer-menu">
                            <li><a href="/faq">FAQs Page</a></li>
                            <li><a href="/about-us">About Us</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/blog">Blog</a></li>
                        </ul>
                    </div>
                </div>
                        
                <div class="col-lg-3 col-md-3">
                    <div class="footer-widget">
                        <h4 class="widget-title">My Account</h4>
                        <ul class="footer-menu">
                            <li><a href="/dashboard">My account</a></li>
                            <li><a href="/my-profile">My Profile</a></li>
                            <li><a href="/my-property">My Property</a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                
                <div class="col-lg-6 col-md-12 text-center">
                    <p class="mb-0">© 2025 <a href="#" target="_blank" class="text-reset">Cosmopolitan Holiday Xclub Pvt Ltd.</a> Develop By <a href="https://monkeyeffects.com/" target="_blank" class="text-reset">Monkey Effects</a>.</p>
                </div>
                
                <div class="col-lg-6 col-md-12 d-flex justify-content-center">
                    <ul class="footer-bottom-social">
                        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</footer>