{% extends '/base/style/base.html' %}

{% block content %}
			
<!-- ============================ Page Title Start================================== -->
<div class="page-title">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				
				<h2 class="ipt-title">Create An Account</h2>
				<span class="ipn-subtitle">Register On Cosmo Today</span>
				
			</div>
		</div>
	</div>
</div>
<!-- ============================ Page Title End ================================== -->

<!-- ============================ Signup Form Start ================================== -->
<section class="gray-simple">
	<div class="container">

	
		<!-- row Start -->
		<div class="row justify-content-center">
			
			<!-- Single blog Grid -->
			<div class="col-xl-7 col-lg-8 col-md-9">
				<div class="card border-0 rounded-4 p-xl-4 p-lg-4 p-md-4 p-3">
					
					<div class="simple-form">
						<div class="form-header text-center mb-5">
							<div class="effco-logo mb-2">
								<a class="d-flex align-items-center justify-content-center" href="/cosmo">
									<span class="svg-icon text-primary svg-icon-2hx">
									<svg xmlns="http://www.w3.org/2000/svg" width="60px" height="60px" viewBox="850 0 300 380">
										<g transform="translate(25, 0)">
											<path fill="#13293D" d="M869.22 343.23s-36.94-33.41-48.2-32-21.62 25.18-14.86 38.45c6.09 12 44 14.62 53.26 14.14a17.8 17.8 0 0 0 4.32-1c3.06-1.31 9.75-5.2 16.74-15.86 8.9-13.56 14.61-23.58 14.64-23.64a5.33 5.33 0 0 0 .56-5.09l147.08-225.46a2.87 2.87 0 0 0 3-1c1.27-1.5 49.25-74.82 55.24-84a4.84 4.84 0 0 0 .72-3.68 4.32 4.32 0 0 0-2.58-3.44 5.24 5.24 0 0 0-6.12.92 4.3 4.3 0 0 0-.58.71l-53.44 82s-2.63 3.7-1.35 5.61L891.46 315.31s-3-1.28-5.74 2.69c-2.9 4.18-16.5 25.23-16.5 25.23"></path>
											<path fill="#13293D" d="m994.29 156.85 109 175.38a149 149 0 0 0 14.7 19.77q7.95 9 14.69 11.83h-84.61q6.75-3.38 6.75-11.47 0-8.48-7.25-20.13l-82.5-132.78m0 0L860.45 31.6a153 153 0 0 0-14.63-19.77q-7.87-9-14.6-11.83h84.6q-6.9 3.36-6.91 11.47 0 8.48 7.26 20.13l79.13 126.92"></path>
										</g>
									</svg>
									</span>
								</a>
							</div>
							<h4 class="fs-2">Create Account On Cosmo</h4>
						</div>
						<form>
							
							<div class="row">
								
								<div class="col-lg-6 col-md-6">
									<div class="form-group mb-3">
										<label>Full Name</label>
										<input type="text" class="form-control" placeholder="Full Name">
									</div>
								</div>
								
								<div class="col-lg-6 col-md-6 mb-3">
									<div class="form-group">
										<label>Email</label>
										<input type="email" class="form-control" placeholder="Email">
									</div>
								</div>
								
								<div class="col-lg-6 col-md-6 mb-3">
									<div class="form-group">
										<label>Username</label>
										<input type="text" class="form-control" placeholder="Username">
									</div>
								</div>
								
								<div class="col-lg-6 col-md-6 mb-3">
									<div class="form-group">
										<label>Password</label>
										<input type="password" class="form-control" placeholder="*******">
									</div>
								</div>
								
								<div class="col-lg-6 col-md-6 mb-3">
									<div class="form-group">
										<label>Phone</label>
										<input type="tel" class="form-control" placeholder="123 546 5847">
									</div>
								</div>
								
								<div class="col-lg-6 col-md-6 mb-3">
									<div class="form-group">
										<label>Signup As</label>
										<select class="form-control">
											<option>As a Customer</option>
											<option>As a Agent</option>
											<option>As a Agency</option>
										</select>
									</div>
								</div>
								
							</div>
							
							<div class="form-group">
								<button type="submit" class="btn btn-primary full-width fw-medium">Create Account<i class="fa-solid fa-arrow-right-long ms-2"></i></button>
							</div>
						
						</form>
					</div>
					
					<div class="modal-divider"><span>Or SignUp via</span></div>
					<div class="social-login mb-3">
						<ul class=" justify-content-center">
							<li><a href="#" class="btn connect-google">
								<svg style="margin-right: 5px;" xmlns="http://www.w3.org/2000/svg" width="32" height="32"><g fill-rule="nonzero" fill="none"><path fill="#FBBC05" d="M8.43 15.813c0-.825.14-1.617.39-2.358l-4.373-3.27a12.45 12.45 0 00-1.332 5.627c0 2.023.478 3.932 1.33 5.625l4.37-3.276a7.357 7.357 0 01-.385-2.349"/><path fill="#EA4335" d="M16.11 8.305c1.83 0 3.484.635 4.784 1.674l3.78-3.696c-2.303-1.963-5.256-3.176-8.564-3.176-5.135 0-9.55 2.875-11.663 7.077l4.375 3.27c1.007-2.995 3.879-5.149 7.288-5.149"/><path fill="#34A853" d="M16.11 23.322c-3.41 0-6.282-2.154-7.29-5.15l-4.373 3.27c2.113 4.203 6.527 7.078 11.663 7.078 3.169 0 6.195-1.102 8.467-3.167l-4.152-3.143c-1.171.723-2.646 1.112-4.316 1.112"/><path fill="#4285F4" d="M28.514 15.813c0-.75-.119-1.56-.295-2.31h-12.11v4.91h6.97c-.348 1.674-1.296 2.96-2.653 3.797l4.15 3.143c2.387-2.168 3.938-5.397 3.938-9.54"/></g></svg>
								Continue with Google</a></li>
						</ul>
					</div>
					
				</div>
			</div>
			
		</div>
		<!-- /row -->					
		
	</div>
			
</section>
<!-- ============================ Signup Form End ================================== -->

{% endblock %}