{% extends '/base/style/base.html' %}

{% block navbar %}
    {% include 'base/style/navbar-home.html' %}
{% endblock %}


{% block content %}

<!-- ============================ Hero Banner  Start================================== -->
<div class="hero-banner vedio-banner">s
	<div class="overlay"></div>	

	<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
		<source src="static/img/banners.mp4" type="video/mp4">
	</video>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 col-md-7 col-sm-8 header-search-form">
				<div class="full-search-2 eclip-search italian-search hero-search-radius shadow-hard">
					<div class="hero-search-content">

						<div class="row  justify-content-center">

							<div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 elio">
								<div class="form-group borders">
									<div class="position-relative">
										<input type="text" class="form-control ps-5" placeholder="Search for a location">
										<div class="position-absolute top-50 start-0 translate-middle-y ms-2">
											<span class="svg-icon text-primary svg-icon-2hx">
												<svg width="25" height="25" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path opacity="0.3" d="M18.0624 15.3453L13.1624 20.7453C12.5624 21.4453 11.5624 21.4453 10.9624 20.7453L6.06242 15.3453C4.56242 13.6453 3.76242 11.4453 4.06242 8.94534C4.56242 5.34534 7.46242 2.44534 11.0624 2.04534C15.8624 1.54534 19.9624 5.24534 19.9624 9.94534C20.0624 12.0453 19.2624 13.9453 18.0624 15.3453Z" fill="currentColor"/>
													<path d="M12.0624 13.0453C13.7193 13.0453 15.0624 11.7022 15.0624 10.0453C15.0624 8.38849 13.7193 7.04535 12.0624 7.04535C10.4056 7.04535 9.06241 8.38849 9.06241 10.0453C9.06241 11.7022 10.4056 13.0453 12.0624 13.0453Z" fill="currentColor"/>
												</svg>
											</span>
										</div>
									</div>
								</div>
							</div>
							
							<div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
								<div class="form-group">
									<button type="button" class="btn btn-primary full-width">Search</button>
								</div>
							</div>
									
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
<!-- ============================ Hero Banner End ================================== -->


<!-- ============================ Step How To Use Start ================================== -->
<section>
	<div class="container">
		
		<div class="row justify-content-center">
			<div class="col-xl-6 col-lg-7 col-md-10 text-center">
				<div class="sec-heading center">
					<h2>How does it work?</h2>
					<p>Sign up and take the membership to get one year of unlimited, worry-free exchanges for the price of one night’s stay at a hotel.</p>
				</div>
			</div>
		</div>
		
		<div class="row justify-content-center g-4">
			
			<!-- services code  -->
			{% include '/base/components/home/services.html' %}


		</div>
		
	</div>
</section>
<div class="clearfix"></div>
<!-- ============================ Step How To Use End ====================== -->


<!-- ============================ Property Location Start ================================== -->
<section class="pt-0">
	<div class="container">
		
		<div class="row justify-content-center">
			<div class="col-xl-6 col-lg-7 col-md-10 text-center">
				<div class="sec-heading center">
					<h2>Find Your Dream Destination</h2>
					<p>Explore unique homes worldwide and choose the perfect stay for your next getaway—city breaks, beach escapes, mountain retreats, and more.</p>
				</div>
			</div>
		</div>
		
		<div class="row g-2">
		
			<!-- best-locations code  -->
			{% include '/base/components/home/best-locations.html' %}

			
		</div>
		
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 text-center mt-5">
				<a href="/" class="btn btn-primary px-md-5 rounded">Browse More Locations</a>
			</div>
		</div>
		
	</div>
</section>
<!-- ============================ Property Location End ================================== -->


<!-- ================= Explore Goods Places ================= -->
<section>
	<div class="container">
		
		<div class="row justify-content-center">
			<div class="col-lg-7 col-md-10 text-center">
				<div class="sec-heading center">
					<h2>Committed to Sustainable Development</h2>
					<p>We align our efforts with the United Nations Sustainable Development Goals (SDGs), promoting responsible travel, community empowerment, and eco-friendly practices in every exchange.</p>
				</div>
			</div>
		</div>
		
		<div class="row justify-content-center g-4">
			
			<!-- good-places code  -->
			 {% include '/base/components/home/good-places.html' %}
			
		</div>
		
	</div>	
</section>
<!-- ================================= Explore Goods Places =============================== -->


<!-- ============================ Price Table Start ================================== -->
<section>
	<div class="container">
	
		<div class="row justify-content-center">
			<div class="col-lg-7 col-md-10 text-center">
				<div class="sec-heading center">
					<h2>Our Membership Plan</h2>
					<p>One membership. Unlimited secure exchanges for a full year. Travel more, worry less.</p>
				</div>
			</div>
		</div>
		
		<div class="row justify-content-center g-lg-4 g-md-3 g-4">
		
			<!-- packages code  -->
			 {% include '/base/components/home/packages.html' %}
			
		</div>
		
	</div>	
</section>
<!-- ============================ Price Table End ================================== -->	
 

<!-- ============================ Smart Testimonials ================================== -->
<section class="gray-bg">
	<div class="container">
	
		<div class="row justify-content-center">
			<div class="col-lg-7 col-md-10 text-center">
				<div class="sec-heading center">
					<h2>What Our Members Are Saying</h2>
					<p>Join a community that’s built on trust and shared experiences. From seamless exchanges to unforgettable stays, hear directly from members who’ve turned travel into a lifestyle.</p>
				</div>
			</div>
		</div>
		
		<div class="row justify-content-center">
			
			<div class="col-lg-12 col-md-12">
				
				<div class="smart-textimonials smart-center" id="smart-textimonials">
					
					<!-- reviews code  -->
					 {% include '/base/components/home/reviews.html' %}

					
				</div>
			</div>
			
		</div>
		
	</div>
</section>
<!-- ============================ Smart Testimonials End ================================== -->
 

<!-- ============================ Call To Action ================================== -->
<section class="bg-light">
	<div class="container">
		
		<div class="row align-items-center justify-content-center gx-5 gy-5">
		
			<!-- partners code  -->
			 {% include '/base/components/home/partners.html' %}

			
		</div>
		
		<div class="row align-items-center justify-content-center">
			<div class="col-xl-7 col-lg-11">
				
				<div class="call-to-act-wrap text-center">
					<div class="call-to-act-head mb-2">
						<h2 class="fs-1 mb-3 lh-sm">Stay Connected <br> Subscribe Now</h2>
						<span>Be the first to know about new listings, travel tips, exclusive offers, and community stories. Subscribe to our newsletter and let inspiration come straight to your inbox.</span>
					</div>
				</div>
				<div class="call-to-act-form">
					<form class="newsletter-boxes p-2">
						<div class="row m-0 g-0">
							<div class="col-xl-10 col-9">
							<input type="text" class="form-control border-0" placeholder="Subscribe Your Email...">
							</div>
							<div class="col-xl-2 col-3">
							<button type="submit" class="btn btn-primary rounded-pill full-width">Subscribe</button>
							</div>
						</div>
					</form>
				</div>
				
			</div>
		</div>
		
	</div>
</section>
<!-- ============================ Call To Action End ================================== -->

{% endblock %}	